# Windows
*.bak
*.cmd
desktop.ini
Thumbs.db

# macOS
.DS_Store

# Arduino
*.tmp

# Visual Studio Code
.vscode/

# CLion
.idea/

# Build output
build/
src/Configuratie/UserConfig.h
src/Language/UserExample_*.h
src/Language/UserLibrary_*.h
