# Windows
*.bak
desktop.ini
Thumbs.db

# macOS
.DS_Store

# Arduino
*.tmp
UserConfig.h

# Visual Studio Code
.vscode/

# CLion
.idea/

# Build output

build/
src/Configuratie/UserConfig.h

# Eigen taalbestanden gebruikers niet meenemen
src/Language/UserExample_*.h*
src/Language/UserLibrary_*.h

# Templates moeten WEL mee
!src/Language/UserLibrary_*_template.h
!src/Language/UserExample_*_template.h

# Privé-bestanden niet meenemen
/prive/

# Lokale, persoonlijke testpaden niet meenemen; het template wel
extras/LokalePaden.cmd

# Gegenereerde lokale tussenlogs
extras/TestLibraryGereleased.txt
extras/TestLibraryGereleasedOngeldig.txt
extras/TestLibraryNieuw.txt
extras/TestLibraryNieuwOngeldig.txt

